.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #e9ecef;
}

.item {
  display: block;
  width: 100%;
  padding: 10px 16px;
  border-left: 3px solid transparent;
  transition: background 0.15s, border-color 0.15s;
}

.item:hover {
  background: #f1f3f5;
}

.active {
  background: #e7f5ff;
  border-left-color: #228be6;
}

.active .chapterTitle {
  color: #228be6;
  font-weight: 600;
}

.chapterTitle {
  color: #495057;
}

.badge {
  flex-shrink: 0;
}
